*{
  font-family: 'Lato';
}

.wz-widget{
    bottom: 0;
    right: 0;
    height: 41px;
    width: 39px;
}

.ui-window.chat{
  width: 100%;
  height: 100%;
}

.chat .ui-navbar{
  width: 317px;
}

/* CHAT SIDEBAR */
.chat-search{
  float: left;
  width: 316px;
  border-radius: 0;
  margin-top: -1px;
}

.chat-body{
  float: left;
  width: ~'calc(100% - 1px)';
  border-left: 1px solid transparent;
  height: ~'calc(100% - 89px)';
}

.dark .chat-body{
  border-left-color: #2c3238;
}

.chat-tab{
  float: left;
  width: 100%;
  height: 100%;
}

.channel-list{
  float: left;
  width: 100%;
  height: 100%;
}

.channel{
  float: right;
  height: 67px;
  width: 243px;
  border-bottom: 1px solid #e1e5e7;
}

.dark .channel{
  border-bottom-color: #6a7178;
}

.channel .highlight-area{
  position: absolute;
  left: 0;
  margin-top: -1px;
  height: 68px;
  width: 313px;
}

.channel .channel-img{
  float: left;
  height: 47px;
  width: 47px;
  background-size: cover;
  margin-top: 10px;
  margin-bottom: 11px;
  margin-left: 12px;
  margin-right: 13px;
  border-radius: 50%;
}

.channel .channel-name{
  float: left;
  font-size: 15px;
  font-weight: bold;
  color: #545f65;
  margin-top: 17px;
  width: 203px;
}

.dark .channel .channel-name{
  color: #fff;
}

.channel .channel-last-time{
  float: left;
  font-size: 11px;
  color: #889399;
  margin-right: 9px;
  margin-top: 17px;
}

.dark .channel .channel-last-time{
  color: #d2dce2;
}

.channel .channel-last-msg{
  float: left;
  font-size: 13px;
  color: #889399;
  width: 215px;
  margin-top: 7px;
}

.dark .channel .channel-last-msg{
  color: #d2dce2;
}

.channel .channel-badge{
  float: left;
  width: 18px;
  height: 18px;
  background-color: #60b25e;
  border-radius: 50%;
  margin-top: 3px;
  margin-left: 2px;
}

.channel .channel-badge span{
  float: left;
  color: #fff;
  font-size: 11px;
  font-weight: bold;
  margin-left: 6px;
  margin-top: 4px;
}

.chat-footer{
  float: left;
  width: 100%;
  height: 49px;
  border-top: 1px solid #ccd3d5;
  background-color: #fff;
}

.dark .chat-footer{
  background-color: #2c3238;
  border-top-color: #2c3238;
}

.chat-tab-selector{
  float: left;
  width: 157px;
  height: ~'calc(100% - 14px)';
  border-right: 1px solid #e5e9ea;
  margin-top: 7px;
  margin-bottom: 7px;
}

.dark .chat-tab-selector{
  border-right-color: #5c6367;
}

.chat-tab-selector .selector-img{
  float: left;
  margin-left: 43px;
  height: 100%;
  margin-top: 4px;
  width: 69px;
  border-bottom: 2px solid transparent;
}

.chat-tab-selector.active .selector-img{
  border-bottom-color: green;
}

.chat-tab-selector span{
  float: left;
  font-size: 15px;
  color: #889399;
  margin-top: 3px;
  margin-left: 7px;
}

.chat-tab-selector.active span{
  color: #60b25e;
}

.chat-tab-selector figure{
  float: left;
  width: 17px;
  height: 17px;
  margin-top: 1px;
  background: url('@static/chats.png');
  background-size: 17px 17px;
}

.chat-tab-selector.active figure{
  background: url('@static/chats-active.png');
  background-size: 17px 17px;
}

.contact-tab-selector{
  float: left;
  width: 159px;
  height: ~'calc(100% - 14px)';
  margin-top: 7px;
  margin-bottom: 7px;
}

.contact-tab-selector .selector-img{
  float: left;
  margin-left: 30px;
  height: 100%;
  margin-top: 4px;
  width: 100px;
  border-bottom: 2px solid transparent;
}

.contact-tab-selector.active .selector-img{
  border-bottom-color: green;
}

.contact-tab-selector span{
  float: left;
  font-size: 15px;
  color: #889399;
  margin-top: 3px;
  margin-left: 7px;
}

.contact-tab-selector.active span{
  color: #60b25e;
}

.contact-tab-selector figure{
  float: left;
  margin-top: 1px;
  width: 17px;
  height: 17px;
  background: url('@static/contacts.png');
  background-size: 17px 17px;
}

.contact-tab-selector.active figure{
  background: url('@static/contacts-active.png');
  background-size: 17px 17px;
}

/* END CHAT SIDEBAR */

/* CHAT BODY */
.chat .ui-content{
  background: #fff;
  float: left;
  width: ~'calc(100% - 318px)';
  height: ~'calc(100% - 41px)';
}

.dark.chat .ui-content{
  background-color: #3f4750;
}

.conversation-header {
  float: left;
  height: 47px;
  margin-left: 10px;
  margin-right: 10px;
  width: ~'calc(100% - 20px)';
  border-bottom: 1px solid #e5e9ea;
  position: relative;
}

.dark .conversation-header {
  border-bottom-color: #6a7178;
}

.close-coversation {
  float: left;
  font-size: 13px;
  color: #889399;
  padding-top: 17px;
  padding-left: 4px;
  padding-bottom: 17px;
}

.dark .close-coversation {
  color: #d2dce2;
}

.conversation-info{
  float: left;
  position: absolute;
  width: 100%;
  height: 100%;
}

.conversation-name {
  float: left;
  width: 100%;
  text-align: center;
  color: #545f65;
  margin-top: 8px;
  font-size: 13px;
}

.dark .conversation-name{
  color: #fff;
}

.conversation-moreinfo {
  float: left;
  width: 100%;
  text-align: center;
  margin-top: 6px;
  color: #889399;
  font-size: 11px;
}

.dark .conversation-moreinfo{
  color: #d2dce2;
}

.conversation-body{
  float: left;
  width: 100%;
  height: ~'calc(100% - 98px)';
}

.conversation-footer{
  float: left;
  width: 100%;
  height: 49px;
  border-top: 1px solid #ccd3d5;
  background-color: #f7f8fa;
}

.dark .conversation-footer{
  background-color: #2c3238;
  border-top-color: #2c3238;
}

.conversation-input{
  float: left;
  margin-top: 5px;
  margin-left: 7px;
  width: ~'calc(100% - 96px)';
}

.conversation-input .search-icon i{
  background-image: url('@static/sprite.png');
  background-size: 118px 18px;
  background-position: -70px 0;
}

.conversation-input.active .search-icon i{
  background-image: url('@static/sprite.png');
  background-size: 118px 18px;
  background-position: -86px 0;
}

.conversation-send{
  float: left;
  font-size: 15px;
  color: #889399;
  padding-left: 23px;
  padding-top: 17px;
  padding-right: 21px;
  padding-bottom: 17px;
  width: 43px;
}

.dark .conversation-send{
  color: #d2dce2;
}

/* END CHAT BODY*/
