
/* INICIO APARTADO LISTA DE AMIGOS */

.wz-widget{
    bottom: 0;
    right: 0;
    height: 41px;
    width: 39px;
}

.wz-scroll-bar{
    width: 5px;
    background: transparent;
}

.wz-scroll-slider{
    width: 5px;
    background: #FFF;
}

.list{
    width: 245px;
    border-radius: 3px;
    border: 1px solid #252525;
    position: absolute;
    right: 4px;
    bottom: 52px;
    background: #3A3A3A;
    z-index: 15000; /* To Do -> It's necessary this? */
}

.list:after, .list:before{
    top: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.list:after{
    border-color: rgba( 58, 58, 58, 0 );
    border-top-color: #3A3A3A;
    border-width: 5px;
    right: 5px;
}

.list:before{
    border-color: rgba( 37, 37, 37, 0 );
    border-top-color: #252525;
    border-width: 6px;
    right: 4px;
}

.list.hidden{
    height: 0px;
    overflow: hidden;
    border: none;
}

.status{
    width: 8px;
    height: 8px;
    border-radius: 4px;
    box-shadow: 0 1px rgba( 255, 255, 255, 0.1 ) inset;
    float: left;
    margin-top: 11px;
}

.status.online{
    background-image: -webkit-linear-gradient( bottom, #4e9c21, #7ebe30 );
    background-image: -moz-linear-gradient( bottom, #4e9c21, #7ebe30 );
    background-image: -o-linear-gradient( bottom, #4e9c21, #7ebe30 );
    background-image: linear-gradient( to top, #4e9c21, #7ebe30 );
}

.status.busy{
    background-image: -webkit-linear-gradient( bottom, #dc513a, #ff6b52 );
    background-image: -moz-linear-gradient( bottom, #dc513a, #ff6b52 );
    background-image: -o-linear-gradient( bottom, #dc513a, #ff6b52 );
    background-image: linear-gradient( to top, #dc513a, #ff6b52 );
}

.status.away{
    background-image: -webkit-linear-gradient( bottom, #ff9500, #fc0 );
    background-image: -moz-linear-gradient( bottom, #ff9500, #fc0 );
    background-image: -o-linear-gradient( bottom, #ff9500, #fc0 );
    background-image: linear-gradient( to top, #ff9500, #fc0 );
}

.status.offline{
    background-image: -webkit-linear-gradient( bottom, #8a8a8a, #bfbfbf );
    background-image: -moz-linear-gradient( bottom, #8a8a8a, #bfbfbf );
    background-image: -o-linear-gradient( bottom, #8a8a8a, #bfbfbf );
    background-image: linear-gradient( to top, #8a8a8a, #bfbfbf );
}

.user-avatar{
    width: 26px;
    height: 26px;
    float: left;
    border-radius: 3px;
}

.user-name{
    width: 180px;
    font-size: 13px;
    height: 14px;
    color: #FFF;
    float: left;
    margin-top: 8px;
    margin-left: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.weechat-self{
    width: 225px;
    height: 26px;
    float: left;
    padding: 7px 10px;
    border-bottom: 1px solid #252525;
    box-shadow: 0 2px 4px rgba( 0, 0, 0, 0.15 ), 0 1px rgba( 255, 255, 255, 0.1 ) inset;
    background-image: -webkit-linear-gradient( bottom, #2e2e2e, #383838 );
    background-image: -moz-linear-gradient( bottom, #2e2e2e, #383838 );
    background-image: -o-linear-gradient( bottom, #2e2e2e, #383838 );
    background-image: linear-gradient( to top, #2e2e2e, #383838 );
}

.weechat-friends{
    width: 245px;
    min-height: 160px;
}

.weechat-friends-card{
    width: 225px;
    height: 26px;
    float: left;
    padding: 7px 10px;
}

.weechat-friends-card:hover{
    background: #4C4C4C;
    box-shadow: 0 1px #252525 inset, 0 -1px #252525 inset;
}

.empty-list{
    height: 26px;
    padding: 20px;
    text-align: justify;
}

.empty-list span{
    font-size: 13px;
    white-space: normal;
    word-wrap: break-word;
    width: 205px;
    height: auto;
    margin: 0;
    color: #FFF;
}

/* FIN APARTADO LISTA DE AMIGOS*/

/* INICIO APARTADO ICONO */

.weechat-icon{

    width: 18px;
    height: 16px;
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 13px 10px 12px 11px;
    border-top-left-radius: 3px;
    box-shadow: 0 0 0 1px rgba( 0, 0, 0, 0.75 ), inset 0 1px rgba( 255, 255, 255, 0.1 );

    background-image: -moz-linear-gradient( bottom, rgba( 23, 23, 23, 0.75 ), rgba( 53, 53, 53, 0.75 ) ); 
    background-image: -webkit-linear-gradient( bottom, rgba( 23, 23, 23, 0.75 ), rgba( 53, 53, 53, 0.75 ) );
    background-image: -o-linear-gradient( bottom, rgba( 23, 23, 23, 0.75 ), rgba( 53, 53, 53, 0.75 ) );
    background-image: linear-gradient( to top, rgba( 23, 23, 23, 0.75 ), rgba( 53, 53, 53, 0.75 ) );

}

.weechat-icon:hover{
    box-shadow: 0 0 0 1px rgba( 0, 0, 0, 0.3 ), inset 0 1px rgba( 255, 255, 255, 0.1 );
    background-image: -moz-linear-gradient( bottom, rgba( 78, 156, 33, 0.75 ), rgba( 126, 190, 48, 0.75 ) ); 
    background-image: -webkit-linear-gradient( bottom, rgba( 78, 156, 33, 0.75 ), rgba( 126, 190, 48, 0.75 ) );
    background-image: -o-linear-gradient( bottom, rgba( 78, 156, 33, 0.75 ), rgba( 126, 190, 48, 0.75 ) );
    background-image: linear-gradient( to top, rgba( 78, 156, 33, 0.75 ), rgba( 126, 190, 48, 0.75 ) );
}

.weechat-icon.open{
    box-shadow: 0 0 0 1px rgba( 0, 0, 0, 0.3 ), inset 0 1px rgba( 255, 255, 255, 0.1 );
    background-image: -moz-linear-gradient( bottom, #4E9C21, #7EBE30 ); 
    background-image: -webkit-linear-gradient( bottom, #4E9C21, #7EBE30 );
    background-image: -o-linear-gradient( bottom, #4E9C21, #7EBE30 );
    background-image: linear-gradient( to top, #4E9C21, #7EBE30 );
}

.weechat-icon figure{
    width: 18px;
    height: 16px;
    display: block;
    background: url("@static/chat.png") no-repeat;
    background-size: 18px 16px;
    opacity: 0.75;
}

.weechat-icon.open figure{
    opacity: 1;
}

/* FIN APARTADO ICONO */
