
.wz-view{
	background-color: #262626;
	box-shadow: 0 5px 15px rgba(0,0,0,.75);
}

.video-remote{
	width: 100%;
	height: 100%;
	float: left;
	background: #f00;
}

.control-bar{
	width: 750px;
	height: 50px;
	background-color: #2a323a;
	position: absolute;
	bottom: 0;
	left: 0;
}

/*
#user-list {
	margin-top: 1.5em;
}

.callAvatar {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5em;
	margin-bottom: 16px;
	border-radius: 500px;
}

.callName {
	font-size: 135%;
	text-align: center;
	margin-bottom: 8%;
}

#answerCall {
	margin: 0 auto;
}
*/
