
.wz-view{
	background-color: #262626;
	box-shadow: 0 5px 15px rgba(0,0,0,.75);
}

.prevideo{
	background-color: #262626;
	position: absolute;
	top: 0;
	left: 0;
	width: 700px;
	height: 525px;
	text-align: center;
}

.prevideo img{
	width: 250px;
	height: 250px;
	background: rgba(0,0,0,.3);
	border: #eee 1px solid;
	border-radius: 3px;
	margin-top: 90px;
}

.prevideo span{
	font-family: Lato;
	font-weight: lighter;
	color: #fff;
	font-size: 25px;
	margin-top: 30px;
	display: block;
}

.video-remote{
	width: 100%;
	height: 100%;
	float: left;
	background: #262626;
}

.video-local{
	position: absolute;
	bottom: 60px;
	right: 10px;
	max-width: 165px;
	border: solid 1px rgba(0,0,0,.3);
	background: rgba(0,0,0,.3);
}

.control-bar{
	width: 700px;
	height: 45px;
	background-color: rgba(40,50,60,.85);
	position: absolute;
	bottom: 0;
	left: 0;
}

.control-name{
	float: left;
	width: 300px;
	text-align: left;
	padding: 17px 0 15px 29px;
	font-family: Lato;
	font-size: 13px;
	color: #fff;
}

.control-time{
	float: left;
	width: 300px;
	text-align: right;
	padding: 17px 29px 15px 0;
	font-family: Lato;
	font-size: 13px;
	color: #fff;
}

.control-tools{
	float: left;
	width: 42px;
	padding: 12px 0 11px;
}

.hangup{
	width: 18px;
	height: 6px;
	border-radius: 3px;
	background-color: #da605b;
	text-align: center;
	padding: 8px 12px;
}

.hangup i{
	width: 18px;
	height: 6px;
	background: url("@static/end.png") no-repeat;
    background-size: 18px 6px;
    display: block;
}
